@font-face {
  font-family: "Gilam";
  font-display: swap;
  src: url("../fonts/GilamRegular.woff2");
  src: local("O"), url("../fonts/GilamRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceRegular.woff2");
  src: local("O"), url("../fonts/CirceRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #171717;
  font-family: "Gilam";
  color: #ffffff;
}
.dark {
  color: #000000;
  background-color: #ffffff;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}

.titel {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.button_cheng {
  color: black;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px;
}

.header_nav_button_link {
  font-family: "Circe";
  padding: 10px 25px;
  color: #e4b564;
  border: 1px solid #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.header_nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 120px;
}

.header_nav_foto {
  width: 216px;
  height: 33px;
}

.header_nav_button_foto {
  padding-right: 8px;
}

.wrap {
  margin: 60px 0px 0px 0px;
  padding-bottom: 238px;
}

.wrap_services_info_titel {
  margin-bottom: 41px;
}

.wrap_services_info_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 41px;
}

.wrap_services_box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 963px;
  gap: 27px 0px;
}

.flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 0px 41px;
  text-align: center;
}

.wrap_services_box_items1 {
  background: #634f2c;
  grid-column: 1/3;
  grid-row: 1/2;
  margin-right: 34px;
}

.wrap_services_box_items_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.wrap_services_box_items2 {
  background: #b4a385;
  grid-column: 3/5;
  grid-row: 1/2;
  margin-right: 25px;
}

.wrap_services_box_items3 {
  background: #e4b564;
  grid-column: 5/7;
  grid-row: 1/2;
}

.wrap_services_box_items4 {
  background: #635a4a;
  grid-column: 1/4;
  grid-row: 2/3;
  margin-right: 30px;
}

.wrap_services_box_items5 {
  background: #b08c4d;
  grid-column: 4/7;
  grid-row: 2/3;
}

.wrap_technics {
  margin-top: 161px;
}

.wrap_technics_titel {
  padding-bottom: 94px;
}

.wrap_technics_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2.5fr 1fr 1.5fr 1.5fr 3.3fr 1%;
  gap: 26px 30px;
  height: 896px;
}

.wrap_technics_items1 {
  background: #0e0e0e;
  grid-column: 1/2;
  grid-row: 1/3;
}

.wrap_technics_items2 {
  background: #242424;
  grid-column: 2/3;
  grid-row: 1/4;
}

.wrap_technics_items3 {
  background: #1f1f1f;
  grid-column: 3/4;
  grid-row: 1/2;
}

.wrap_technics_items4 {
  background: #1f1f1f;
  grid-column: 1/2;
  grid-row: 3/7;
}

.wrap_technics_items5 {
  background: #e4b564;
  grid-column: 2/3;
  grid-row: 4/6;
}

.wrap_technics_items6 {
  background: #0e0e0e;
  grid-column: 3/4;
  grid-row: 2/5;
}

.wrap_technics_items7 {
  background: #0a0909;
  grid-column: 3/4;
  grid-row: 5/7;
}

.wrap_technics_items_text {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 45px;
}

.wrap_technics_items_text_span {
  font-weight: 700;
}

.color {
  color: #000000;
}

.wrap_clients {
  height: 1054px;
  margin-top: 191px;
}

.wrap_clients_projects {
  background: #0e0e0e;
}

.wrap_clients_projects_info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
  align-items: center;
  padding-top: 172px;
}

.wrap_clients_projects_info_button {
  font-family: "Circe";
  color: #e4b564;
  border: 1px solid #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.wrap_clients_projects_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 757px;
}

.flex_box_colum {
  display: flex;
  flex-direction: column;
}

.wrap_clients_projects_box_items1 {
  background: #634f2c;
}

.wrap_clients_projects_box_items2 {
  background: rgba(232, 210, 171, 0.76);
}

.wrap_clients_projects_box_items3 {
  background: #e4b564;
}

.wrap_clients_projects_box_items4 {
  background: #635a4a;
}

.wrap_clients_projects_box_items5 {
  background: #b08c4d;
}

.wrap_clients_projects_box_items6 {
  background: #634f2c;
}

.wrap_clients_projects_box_items2_text {
  text-align: center;
  font-weight: 600;
  max-width: 326px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}
