ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}
.tabs-content {
  padding-top: 30px;
}

.tabs-title {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #937341;
  color: #23201d;
}

.text_info {
  display: none;
  font-weight: 700;
  font-size: 20px;
  max-width: 800px;
  color: gray;
}
.text_active {
  display: block;
}
