.image-to-show {
  width: 400px;
  height: 400px;
  display: none;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.active {
  display: block;
}
button {
  max-width: 150px;
  max-height: 30px;
  padding: 10px;
  margin: 20px;
}
